<div class="fondo animated fadeIn fast">
  <h1> Admin Parking</h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/img/celular.png" alt="celular" class="img-fluid">
    </div>
    <div class="col-md-8">
      <h2>Aplicación.</h2>
      <br>
      <p>Esta aplicación fue diseñada para la administración de un estacionamiento,
         puedes seleccionar tu lugar desde la palma de tu mano,
         unicamente para usuarios Android.
         <br><br><br>
      </p>
      <a [routerLink]="['/caracteristicas']" name="button" class="btn btn-dark btn-block" >Saber mas!</a>
    </div>

  </div>
</div>
