<br><br><br><br> <h1 class="caracteristicas">Integrantes</h1>
<hr>

<div class="container">
  <div class="row">
    <div class="col-sm">

      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Francisco Javier Rubio Ibañez</div>
        <div class="card-body">
          <h5 class="card-title">Admin Parking</h5>
          <p class="card-text">Ingeniero en Computación</p>
        </div>
      </div>



    </div>
    <div class="col-sm">

      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Mercado Ucaranza Christian Kaleb</div>
        <div class="card-body">
          <h5 class="card-title">Admin Parking</h5>
          <p class="card-text">Ingeniero en Computación</p>
        </div>
      </div>

    </div>
    <div class="col-sm">

      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Bañuelos Juarez Manuel Alejandro</div>
  <div class="card-body">
    <h5 class="card-title">Admin Parking</h5>
    <p class="card-text">Ingeniero en Computación</p>
  </div>
</div>



    </div>
  </div>
</div>
